/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  padding: 20px;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_heading {
  font-size: 30px;
  font-weight: 700;
}

.nav_button {
  background-color: #2652ee;
  padding: 6px 14px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Hero Section */
.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 22px;
  box-shadow: 2px 2px 5px #aaa1a1;
  background: rgb(255, 255, 255);
}

.input_title,
.category,
.status {
  width: 30%;
}

.input_title h3,
.category h3,
.status h3 {
  margin-bottom: 5px;
}

.input_field,
select {
  width: calc(100% - 20px);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
}

.search {
  margin-top: 25px;
  background-color: #2652ee;
  padding: 6px 14px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Main Section */
.main_section {
  border-radius: 10px;
  margin-top: 22px;
  box-shadow: 2px 2px 5px #aaa1a1;
  background: rgb(255, 255, 255);
  padding: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.summary_title {
  font-size: medium;
  margin-bottom: 10px;
}

.summary_select {
  width: 40%;
  padding: 5px;
  border-radius: 5px;
}

.summary_label {
  margin-right: 10px;
}

.summary_btn {
  background-color: #2652ee;
  padding: 6px 14px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.pagination_btn button {
  background-color: #2652ee;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Table Headers */
.table_headers {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Popup Form */
.form-popup {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
}

.form-container {
  max-width: 50%;
  width: 100%;
  max-height: 90vh;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.form-divider {
  border-top: 2px solid #ccc;
  width: 100%;
  margin: 20px 0;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container select,
.form-container input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.form-container button {
  width: 100%;
  background-color: #2652ee;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit_btn,
.dlt_btn {
  background-color: #2652ee;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-container button.cancel {
  background-color: #ccc;
  margin-left: 10px;
}

/* table */
.data_table {
  width: 100%;
  border-collapse: collapse;
}

.data_table th,
.data_table td {
  padding: 10px;
  /* border: 1px solid #ccc; */
}

.data_table th {
  /* background-color: #f2f2f2; */
}

.data_table th,
.data_table td {
  text-align: left;
}

/* Adjusting column widths */
.data_table td:nth-child(1),
.data_table th:nth-child(1) {
  /* width: 10%; */
}

.data_table td:nth-child(2),
.data_table th:nth-child(2) {
  /* width: 10%; */
}

.data_table td:nth-child(6),
.data_table th:nth-child(6) {
  /* width: 20%; */
}

.data_table td:nth-child(10),
.data_table th:nth-child(10) {
  /* width: 15%; */
}

/* Checked style */
.checked {
  text-decoration: line-through;
}
